/*
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 */

 @font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/AmazonEmberDisplay_Rg.ttf');
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/AmazonEmberDisplay_Lt.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/AmazonEmberDisplay_Lt.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/AmazonEmberDisplay_Lt.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/AmazonEmberDisplay_Rg.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/AmazonEmberDisplay_Md.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/AmazonEmberDisplay_Md.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/AmazonEmberDisplay_Bd.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/AmazonEmberDisplay_Bd.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/AmazonEmberDisplay_He.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Amazon-Ember-LightItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Amazon-Ember-LightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Amazon-Ember-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Amazon-Ember-RegularItalic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Amazon-Ember-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Amazon-Ember-MediumItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Amazon-Ember-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Amazon-Ember-BoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'amazon-ember-display';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Amazon-Ember-BoldItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Bookerly-Regular.ttf');
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Bookerly-Regular.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Bookerly-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Bookerly-Bold.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Bookerly-Italic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Bookerly-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://d1gkjrhppbyzyh.cloudfront.net/Bookerly-BoldItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
